body{
    
    background-image: url(fota.jpg);
    margin-left: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}


ihdhmg {
    height: 700px;
    width: 1000px;
    float: right;   
}

.loginbox {
    width: 500px;
    height: 700px;
    color: #fff;
    right: 1000px;
    position: absolute;
    margin-left: 200px;
}

a {
    font-family: sans-serif;
    color: blue;
    text-transform: uppercase;
    padding: 20px 40px 200px 10px;
    transition: 0.5s
 
}

a:hover {
    transform: scale(1.5);
   
    filter: blur(5px);
}